$black: #020110;
$gray: #201f30;
$white: #fff;
$blue: #5b9cf1;

$heading-font-family: 'Anta', Arial, Helvetica, sans-serif;
$body-font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;

$border: 2px solid #5b9cf1;
$text-glow: 0 0 5px #4400ff90, 0 0 8px #5b9cf1,;
$box-glow: 0px 0px 5px 1px #5b9cf1, 0 0 10px 1px #4400ff90;
$background: radial-gradient(18% 28% at 36% 89%, #130642FF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #0B1141A6 6%, #073AFF00 100%),radial-gradient(42% 53% at 19% 68%, #172B4FFF 1%, #073AFF00 100%),radial-gradient(18% 28% at 57% 71%, #160537FF 7%, #073AFF00 100%),radial-gradient(31% 43% at 13% 95%, #273557FF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #200646D4 24%, #073AFF00 100%),radial-gradient(35% 56% at 77% -5%, #0B1232F5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #100E45F5 24%, #073AFF00 100%),linear-gradient(125deg, #000000FF 1%, #0F0628FF 100%);