@use '../abstracts/variables' as v;

.canvas-con {
    margin: 30px auto 0 auto;

    p {
        margin: 40px 10px 0 10px;

        @media (min-width: 768px) {
            margin: 40px 0 0 0;
        }
    }
}

.sequence {
    display: block;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 768px) {
        width: 80%;
    }
}