@use '../abstracts/variables' as v;

.card {
    box-sizing: border-box;
    border: v.$border;
    background: v.$background;
    background-color: v.$black;
    border-radius: 30px;
}

.colour-card {
    padding: 40px 0;

    .img-con {
        img {
            margin: 0 auto;
            display: block;
            width: 90%;
        }
    }
    
    .card-txt {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    
        img {
            width: 20px;
            margin-right: 10px;
        }
    
        p {
            margin-top: 5px;
        }
    }
}

.testimonial-card {
    padding: 30px;

    .name {
        margin: 10px 0 20px 0;  
    }

    .rating {
        height: 30px;
        margin-bottom: 20px;
    }

    .card-title {
        margin-bottom: 20px;
    }
}