@use '../abstracts/variables' as v;

.carousel-con {
    overflow: hidden;
    max-width: 1200px;
    position: relative;

    .carousel {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 20px;

        .arrow {
            width: 40px;
            border: none;
            background-color: transparent;
            cursor: pointer;
    
            img {
                width: 100%;
            }

            @media (min-width: 1200px) {
                display: none;
            }
        }
        
        .right {
            transform: rotate(180deg);
        }

        .card-wrapper {
            width: 100%;
            flex: 1;
            overflow: hidden;
            display: flex;

            .card {
                flex-shrink: 0;
                transition: 1s transform ease;
            }

            .testimonial-card {
                width: 100%;
            }

            .colour-card {
                width: 100%;
            }

            @media (min-width: 768px) {
                .colour-card {
                    width: calc(50% - 20px);
                }

                .testimonial-card {
                    width: 100%;
                }
            }

            @media (min-width: 1200px) {
                .colour-card {
                    width: calc(33.33% - 20px);
                }
                
                .testimonial-card {
                    width: calc(50% - 40px);
                }
            }
        }

        @media (min-width: 768px) {
            #colour-wrapper {
                max-width: none;
                gap: 20px;
            }

            #testimonials-wrapper {
                max-width: 800px;
            }
        }

        @media (min-width: 1200px) {
            .card-wrapper {
                justify-content: center;
            }

            #testimonials-wrapper {
                gap: 20px;
                max-width: none;
            }
        }
    }
}
