@use '../abstracts/variables' as v;

#header {
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 2;
    background: linear-gradient(180deg, v.$black 60%, #00000090 80%, #00000000 100%);

    .grid-con {
        align-items: center;
        padding: 0 40px;
    }
}

.logo {
    align-content: center;
    z-index: 2;
    
    img {
        margin-top: 10px;
        width: 120px;
    }
}

#burger {
    width: 50px;
    height: 30px;
    display: block;
    justify-self: end;
    cursor: pointer;
    z-index: 2;
    transition: transform .4s ease;

    .burger-line {
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        border-bottom: 3px solid v.$white;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

#burger.rotate {
    transform: rotate(-90deg) translateY(10px) translateX(-8px);
}

.menu {
    width: 100%;
    text-align: center;
    justify-self: center;

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 40px;
    }

    a {  
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: v.$blue;
        text-shadow: v.$text-glow;
        transition: color .2s ease, text-shadow .4s ease;
    }
}

#top-menu {
    display: none;

    @media (min-width: 768px) {
        display: block;
        text-align: right;

        li {
            display: inline;
            margin-left: 30px;
        }
    }
}

#top-menu.open {
    position: absolute;
    height: 100vh;
    width: 90vw;
    right: 0;
    top: 0;

    background: linear-gradient(270deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    text-align: right;
    display: block;
    animation: appear .4s ease;
    z-index: 1;

    ul {
        margin-top: 380px;
        margin-right: 40px;
    }
}

@keyframes appear {
    from { transform: translateX(90vh); }
    to { transform: translateX(0); }
}
