<<<<<<< Updated upstream
@use '../abstracts' as a;

#header {
    // position: sticky;
    top: 0;
    z-index: 2;
    background-color: a.$black;
=======
@use '../abstracts/variables' as v;

#header {
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 2;
    background: linear-gradient(180deg, v.$black 0%, #00000000 100%);
>>>>>>> Stashed changes

    .grid-con {
        align-items: center;
        padding: 5px 40px;
    }
<<<<<<< Updated upstream

    // @media (min-width: 768px) {
    //     .grid-con {
    //         grid-column: 1/-1;
    //         max-width: none;
    //     }
    // }
}

#logo img {
    width: 120px;
    filter: invert(100%);
=======
}

.logo {
    align-content: center;
    
    img {
        margin-top: 10px;
        width: 120px;
    }
>>>>>>> Stashed changes
}

#burger {
    width: 50px;
    height: 30px;
    display: block;
    justify-self: end;

    .burger-line {
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
<<<<<<< Updated upstream
        border-bottom: 3px solid white;
=======
        border-bottom: 3px solid v.$white;
>>>>>>> Stashed changes
    }

    @media (min-width: 768px) {
        display: none;
    }
}

<<<<<<< Updated upstream
#menu {
    width: 100%;
    text-align: center;
    justify-self: center;
    display: none;
=======
.menu {
    width: 100%;
    text-align: center;
    justify-self: center;
>>>>>>> Stashed changes

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 40px;
    }

    a {  
        color: inherit;
        text-decoration: none;
    }
<<<<<<< Updated upstream
    
=======
}

#top-menu {
    display: none;

>>>>>>> Stashed changes
    @media (min-width: 768px) {
        display: block;
        text-align: right;

        li {
            display: inline;
            margin-left: 30px;
        }
    }
}

// #menu.open {
//     position: absolute;
//     height: 100vh;
//     width: 100vw;
//     display: block;
//     animation: appear .2s ease;
//     z-index: 2;

//     ul {
//         margin-top: 300px;
//     }

//     li {
//         font-weight: 600;
//     }
// }

// @keyframes appear {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }