@use '../abstracts/variables' as v;

.HotspotAnnotation{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    visibility: hidden;
  
    background: v.$background;
    border: v.$border;
    box-shadow: v.$box-glow;
    border-radius: 10px;
    display: block;
    
    max-width: 250px;
    min-width: 200px;
    padding: 30px;
  
    h2 {
      margin: 10px 0;
    }
  
    p {
      margin-top: 20px;
    }
    
    img {
      margin-top: 20px;
      box-sizing: border-box;
      width: 100%;
    }
  }