@use '../abstracts/variables' as v;

.canvas {
    p {
        text-align: left;
    }
    @media (min-width: 768px) {
       p {
        text-align: center;
        padding: 0 30px;
       }
    }
}

.colour-viewer {
    margin-top: 40px;
    position: relative;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        padding: 0 20px;
    }
}

.arrows {
    position: absolute;
    width: 100%;
    bottom: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    button {
        margin: 0 30px;
        width: fit-content;
        background-color: transparent;
        border: none;

        img {
            width: 30px;
            cursor: pointer;
        }
    }

    .right {
        transform: rotate(180deg);
    }
}

#testimonials {
    position: relative;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
}